@model ShoppingCart

<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class=" container mt-4 mb-4">
        <div class="card-body align-content-center">
            <div class="py-3">
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        <img src="@Model.Product.ImageUrl" width="100%" class="rounded" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <div class="col-12 col-md-6 pb-3">
                            <h3 class="text-white text-uppercase fs-1 fw-bold">@Model.Product.Title</h3>
                            <p class="text-white-50 fw-semibold mb-0 fs-6 ps-1">Author: @Model.Product.Author</p>
                            <h6 class="text-white-50 fw-semibold mb-0 fs-6 ps-1">Genre: @Model.Product.Category.Name</h6>
                        </div>

                        <!-- Quantity and Price Table -->
                        <div class="row text-center ps-1">
                            <div class="p-1 col-3 col-lg-2 border-bottom">
                                <div class="text-secondary text-opacity-50 fw-semibold">Quantity</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 border-bottom">
                                <div class="text-secondary text-opacity-50 fw-semibold">1-50</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 border-bottom">
                                <div class="text-secondary text-opacity-50 fw-semibold">51-100</div>
                            </div>
                            <div class="p-1 col-3 col-lg-2 border-bottom">
                                <div class="text-secondary text-opacity-50 fw-semibold">100+</div>
                            </div>
                        </div>
                        <div class="row text-center ps-1">
                            <div class="p-1 col-3 col-lg-2 text-warning fw-bold">Price</div>
                            <div class="p-1 col-3 col-lg-2 text-warning fw-bold">@Model.Product.Price.ToString("c")</div>
                            <div class="p-1 col-3 col-lg-2 text-warning fw-bold">@Model.Product.Price50.ToString("c")</div>
                            <div class="p-1 col-3 col-lg-2 text-warning fw-bold">@Model.Product.Price100.ToString("c")</div>
                        </div>

                        <div class="row pl-2 my-3 " style="text-align:justify;width:450px">
                            <p class="text-secondary lh-sm" >@Html.Raw(Model.Product.Description)</p>
                        </div>

                        <!-- Quantity Selector -->
                        <div class="d-flex">
                            <div class="input-group mb-3 " >
                            <button type="button" class="btn btn-outline-secondary" style="width:0px" onclick="decrement()">-</button>
                                <input id="quantityInput" asp-for="Count" type="number" class="" style="width:45px;padding-left:10px; background-color:transparent; color: var(--bs-body-color);border:1px solid;border-color: rgba(255, 255, 255, 0.4);" value="1" min="1" readonly />
                            <button type="button" class="btn btn-outline-secondary  " onclick="increment()">+</button>

                        </div>
                            <div class="" style="margin-right:200px; width:600px">
                                <button type="submit" class="btn btn-danger bg-gradient   text-uppercase fw-semibold"style="width:280px" >
                                    Add to Cart
                                </button>
                            </div>
                        </div>



                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function increment() {
        var quantityInput = document.getElementById('quantityInput');
        quantityInput.value = parseInt(quantityInput.value) + 1;
    }

    function decrement() {
        var quantityInput = document.getElementById('quantityInput');
        if (parseInt(quantityInput.value) > 1) {
            quantityInput.value = parseInt(quantityInput.value) - 1;
        }
    }
</script>
